@font-face {
    font-family: "ana";
    src: url( "../roboto/Roboto-Thin.ttf");
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #F39C12;
    min-height: 15vh;
}
.logo{
    width: 140px;
    height: 90px;
    margin: 10px;
}
.encabezado2{

    text-align: center;
    font-family: cursive;
    font-size: 4em;
    margin: 10px;
}

.container{
    display: flex;
    width: 25% ;
    justify-content: space-around;
    margin: 10px;
    flex-wrap: wrap;
}
.redes{
    width: 50px;
    height: 50px;
    margin: 5px;
} 

@media (max-width: 992px) {
    body { background-color:#FAE5D3 ; }
  }
@media (max-width: 768px) {
    body { background-image:url(../imagenes/7colores.jfif) ; }
  }
@media (max-width: 576px) {
    body { background-image: url( ../imagenes/hornacal.jfif);}
  }

  @media (max-width: 768px) {
    .objeto1{display: none ; }
  }

  @media (min-width: 768px) {
    .objeto2{display: none ; }
  }
  .magia{
    width: 140px;
    height: 90px;
    margin: 10px;
}
/* mobile first */
body { font-size: 14px;
        color: cornsilk;
}

/* tabletas */
@media (min-width: 768px) {
  body { font-size: 15px;
        color: black;
}
}

/* escritorio normales */
@media (min-width: 992px) {
  body { font-size: 16px;
        color:#AF7AC5 ;
}
}

/* pantallas grandes */
@media (min-width: 1200px) {
  body { font-size: 17px; 
        color: #AF7AC5;
}
}

h2{
    font-family: "ana" ;
}
nav{
    display: flex;
    flex-wrap: wrap;
    background-color: #EAECEE;
    width:100% ;
}
nav ul{    
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content:space-around;
    width:100% ;
    height: 100%;
}
a{
    text-decoration: none;
}
nav:hover{
    background-color: #8a9597 ;
}
.titulos{
    text-decoration:underline;
    text-decoration-color:#F1C40F;
    font-size: 1.8rem;
    text-align: center;
}

.izquierda{
    text-align: left;
    height: 80%;
}

.whatsapp{
    border: #FAE5D3;
    height:50px;
    width: 50px;
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    border-radius: 80px;
}

.subtitulos{
    text-decoration:underline;
    text-decoration-color:#F1C40F;
    text-align: left;
}



.contenidoprincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 90vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}
img{
    width: 100%;
    border-radius: 5px;
}


.procedimiento{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width:100%;
    height: 100%;
}
.mapas{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width:100%;
    height: 100%;
    margin: 4%;
}

.mapafooter{
    width: 100% ;
    height: 100%;
    margin: 2px;
}
footer{
    background-color: #F39C12;
    display: flex;
    flex-wrap: wrap;
    width: 100% ;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
}



